<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QMChatCache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>QMChatCacheModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>QMServices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>553204741A0D343100B4F4F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5532047E1A0D343100B4F4F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>554A28791A0CECA000C4E03C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5590F2711A0B8C4200C5044F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5590F27C1A0B8C4200C5044F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55A620DD1A0BC7D6001BA470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55A620EF1A0BCA5E001BA470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
