<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QMContactListCache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>QMCotactListCacheModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>554A28201A0CE22200C4E03C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5590F2A91A0B8D4000C5044F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5590F2B41A0B8D4000C5044F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
