<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AllServices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>554A28001A0CDF2500C4E03C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>554A28151A0CE1C600C4E03C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5590F2551A0B87DC00C5044F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5590F2921A0B8CB300C5044F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5590F2D81A0B8DD600C5044F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B2F0551A091A85008C2272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41D6B1A0A2862008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41D761A0A2862008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41E0F1A0A41D8008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41E191A0A41D8008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41E471A0A665E008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41E611A0A6A49008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41E6B1A0A6AD1008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41E751A0A6C88008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41E791A0A6CCD008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41E7D1A0A6CD9008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41E8D1A0A6E0C008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41E9F1A0A7045008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F41EB01A0A7124008D1C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
